{% extends 'userhome.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'index/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="{% static 'index/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link href="{% static 'index/css/style.css' %}" rel='stylesheet' type='text/css' media="all">
                    	    <script type="text/javascript" src="{% static 'validation.js' %}"></script>
    <script type="text/javascript">
        function calc()
        {
var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();

today = yyyy + '-' + mm + '-' + dd;
edate=document.form1.bdate.value;
//alert(edate)
if(today>edate)
{
alert('select valid date')
edate=document.form.bdate.value="";
}
return false

        }
    </script>

</head>
<body>
 <section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <h3 class="title text-center mb-2">Search Vegetables</h3>
      <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
        <p>
        </p>
      </div>

      <div class="row">
          {% for i in key %}
        <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
          <div class="grid-wthree-service">
            <img src="/media/{{i.image}}" alt="news image" class="img-fluid">
            <div class="ser-text-wthree mt-3">
              <h4>

              </h4>
              <p class="mt-2" style="color:red;">
                 <ul>
                <li>Veg Name : {{i.vegname}}</li>
                <li>Category : {{i.cname}} </li>
                <li>Rate : {{i.rate}}</li>
                <li>Stock : {{i.st}}</li>

            </ul>
              </p>
            </div>
          </div>
        </div>




{% endfor %}
          <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
          <div class="grid-wthree-service">

            <div class="ser-text-wthree mt-3">
              <h4>

              </h4>
              <p class="mt-2" style="color:red;">
                <form method="post" action="{% url 'addcart' %}" name="form1">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Select Date</th><td><input type="date" name="bdate" onchange="return calc()"></td>
                        </tr>
                    <tr>
                        <th>Enter Quantity</th><td><input type="text" name="qty" onchange="return fn_checknumber(document.form1.qty);"></td></tr>
                    <tr>
                        <th></th><td><input type="submit" value="Book Now"></td></tr>
                    <br/><br/>
<tr>
                        <th></th><td></td></tr>

                </table>
                <a href="{% url 'searchitems' %}">More</a>
            </form>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</body>
</html>
{% endblock %}